.cm-s-github.CodeMirror {
  background-color: #FFF;
  color:#333;
  padding-left: 8px;
}

.cm-s-github.CodeMirror .CodeMirror-linenumbers {
  background-color: #fff;
}

.cm-s-github.CodeMirror .CodeMirror-linenumber {
  color: rgba(0, 0, 0, 0.298039);
}

.cm-s-github.CodeMirror .CodeMirror-selected {
  background-color: rgba(65,131,196,0.4);
}

.cm-s-github.CodeMirror .cm-qualifier {
  color: #458;
}

.cm-s-github.CodeMirror .cm-number,
.cm-s-github.CodeMirror .cm-string-2,
.cm-s-github.CodeMirror .cm-atom {
  color: #099;
}

.cm-s-github.CodeMirror .cm-property {
  color: #333;
}

.cm-s-github.CodeMirror .cm-string {
    color: #D14;
}

.cm-s-github.CodeMirror .cm-keyword {
  color: #333;
  font-weight: bold;
}